---
layout: markdown_page
title: "Group Direction - Foundations"
description: "Overall direction for the Foundations group"
canonical_path: "/direction/manage/foundations/"
---

- TOC
{:toc}

## The Foundation group

**Content last reviewed on 2023-06-15**

This is the direction page for the Foundations group which is part of the [Manage stage](/direction/manage) of the DevOps lifecycle and is responsible for the following categories: 

|  Category   |   Direction  |  Description | Maturity  |
|  ---   |   ---   |   ---   |  ---  |
| Design System | [Direction page](/direction/manage/foundations/design_system/) | GitLab Pajamas internal design system and processes. |  [Viable](/direction/maturity/) |
| Navigation and Settings | [Direction page](/direction/manage/foundations/navigation_settings/) | All ways to navigate and configure GitLab  |  TBD |
| Documentation | [Direction page](/direction/manage/foundations/gitlab_docs/) | GitLab's Documentation and related tooling | N/A |

## What is a Foundational Experience?

Two factors help us set the direction for Foundations:

1. Prioritizing and partnering with UX to improve SUS at GitLab.
1. Ensuring our roadmap enhances the foundational experience.  

**Foundational experience:** Cross-stage UIs and user workflows that should be consistent, clearly designed, and iterated on like a feature to improve the overall user experence of GitLab.

Some examples of foundational experiences that drive our direction:

-  Streamline navigation across the application
-  Consistent Pajamas components used every interface
-  Help users find what matters to them on the product home page
-  Help users communicate with their teams across workflows. For example, through email, todos, comments, etc.
-  Navigating to a filtered view in GitLab for a ritual such as monitoring specific security vulnerabilities, or a planning board for standup.
-  The user flow of using a new feature, navigating to the docs, and back to the feature

## What are we working on and why?

#### Design System – 50%

We are considering naming this to Pajamas so we can leave the Design System category to go after market opportunities and features. Currently we are migrating legacy components to use Pajamas, which requires us to create issues and migration guides. 

#### Navigation and Settings – 50%

We recently shipped our [new navigation](https://gitlab.com/groups/gitlab-org/-/epics/9044) and are making iteration based on user feedback.

#### Documentation - 0%

The Technical Writing team are the main contributors to our documentation site. We are supporting but not actively working on improvements. In the future, we could craft workflows between GitLab and our Docs.

## Quartery plan for FY2024

Note, at GitLab we plan aggressively and we can make changes to this at any time!

<details markdown="1">

<summary>View screenshot of roadmap - update July 20, 2023</summary>

![foundations-roadmap-screenshot.png](/direction/manage/foundations/foundations-roadmap-snapshot.png)

</details>
