## What's Next

### Authentication and Authorization

<%= partial("direction/manage/auth/templates/next") %>

### Import and Integrate

<%= partial("direction/manage/import_and_integrate/templates/next") %>

### Foundations

<%= partial("direction/manage/foundations/templates/next") %>

#### What we're not doing

